@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Lato', 'Raleway', sans-serif;
  line-height: 1.7;
  color: #333333;
}

.notes-part ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.notes-part li {
  background-color: #b0e0e6;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  margin: 2rem;
  position: relative;
}

.notes-part img {
  width: 2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}